/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
}
.frm-select, .frm-select-button {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}
.frm-select-button {
	line-height: 1;
	flex-shrink: 0;
	input {
		&:checked {
			&~label {
				background-color: var(--clr-att);
				border-color: var(--clr-att);
				color: var(--clr-base-white);
			}
		}
	}
	label {
		display: block;
		justify-content: center;
		align-items: center;
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 30px;
		border-radius: 15px;
		padding: 0 15px;
		min-width: 85px;
		text-align: center;
		line-height: 28px;
		border: 1px solid var(--clr-att);
		font-size: 12px;
		color: var(--clr-base);
		&:hover {
			background-color: var(--clr-att);
			border-color: var(--clr-att);
			color: var(--clr-base-white);
		}
	}
}


.frm-select {
	input {
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		&:before, &:after {
			
		}
		&:after {
			border-radius: 0;
			border: none;
			background: url(../img/icons/chk.svg) center / 24px auto no-repeat;
			opacity: 0;
		}
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
body {
	.choices {
		font-size: 11px;
		line-height: 20px;
		text-transform: uppercase;
		z-index: 100;
		/* button */
		.choices__inner {
			background: #fff;
			border-color: var(--clr-att);
			min-height: 28px;
			font-size: 1em;
		}
		/* button padding */
		.choices__inner, &.choices[data-type*=select-one] .choices__inner {
			padding: 4px 30px 4px 8px;
		}
		/* button arrow */
		&.choices[data-type*=select-one]::after {
			content: "";
			display: block;
			border: none;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/arrow-select.svg) center no-repeat;
			background-size: 12px auto;
			top: 50%;right: 6px;
			margin-top: -12px;
		}
		/* button reset */
		.choices__list--single {
			padding: 0;
		}
		/* dropdown */
		.choices__list--dropdown {
			background: var(--clr-bg-light);
			font-size: 11px;
			text-transform: uppercase;
			line-height: 20px;
			padding: 8px;
			box-shadow: 0px 84.848px 84.848px -38.182px rgba(0, 0, 0, 0.50);
			.choices__list {
				max-height: 180px;;
				padding-right: 10px;
				&::-webkit-scrollbar {
					height: 2px;
					width: 2px;
					background-color: fade(#000, 20);
					border-radius: 2px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: var(--clr-att);
				}
				&::-webkit-scrollbar-thumb:hover {
					background-color: var(--clr-att);
				}
				&::-webkit-scrollbar-button:vertical:start:decrement {
					background-color: transparent;
					width: 0;
					height: 0;
				}
				&::-webkit-scrollbar-button:vertical:end:increment {
					background-color: transparent;
					width: 0;
					height: 0;
				}
				&::-webkit-scrollbar-button:horizontal:start:decrement {
					background-color: transparent;
					width: 0;
					height: 0;
				}
				&::-webkit-scrollbar-button:horizontal:end:increment {
					background-color: transparent;
					width: 0;
					height: 0;
				}
			}
			.choices__item {
				padding: 8px 0;
				border-bottom: 1px solid fade(#000, 20);
				font-size: 1em;
				&:last-child {
					border-bottom: none;
				}
				&.is-selected {

				}
			}
		}
		/* dropdown search */
		&.choices[data-type*=select-one] .choices__input {
			display: none;
		}
		/* dropdown reset */
		.choices__list--dropdown .choices__item--selectable[data-select-text], .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
			padding-right: 0;
		}
		.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
			display: none;
		}
	}
}
@media (max-width: 767px) {
	/* font adapt */
	body .choices, body .choices .choices__list--dropdown {
		font-size: (11/320*100vw);
	}
	body .choices .choices__list--dropdown .choices__item {
		padding-top: (8/11em);
		padding-bottom: (8/11em);
	}
	body .choices.choices[data-type*=select-one]:after {
		width: (24/11em);
		height: (24/11em);
		margin-top: (-12/11em);
		background-size: 1.1em auto;
	}
	body .choices .choices__inner {
		min-height: (28/11em);
		display: flex;
		align-items: center;
	}
	body .choices.choices[data-type*=select-one] .choices__inner, body .choices .choices__inner {
		padding: (4/11em) (30/11em) (4/11em) (8/11em);
	}
	.frm-select-button label {
		font-size: (12/320*100vw);
		height: (30/12em);
		line-height: (28/12em);
		min-width: (85/12em);
		border-radius: 50px;
	}
	/* end font adapt */
}
@media (min-width: 1024px) {
	body {
		.choices {
			font-size: 2.4rem;
			line-height: 3rem;
			.choices__inner {
				min-height: 6.6rem;
			}
			.choices__inner, &.choices[data-type*=select-one] .choices__inner {
				padding: 1.7rem 4rem 1.7rem 1.9rem;
			}
			&.choices[data-type*=select-one]::after {
				background-size: 24px auto;;
				right: 2rem;
			}
			.choices__list--single {
				padding: 0;
			}
			/* dropdown */
			.choices__list--dropdown {
				font-size: 2.4rem;
				line-height: 3rem;
				padding: 12px 1.9rem;
				.choices__list {
					max-height: 320px;;
					padding-right: 20px;
					&::-webkit-scrollbar {
						height: 4px;
						width: 4px;
					}
				}
				.choices__item {
					padding: 15px 0;
				}
			}
			/* dropdown search */
			&.choices[data-type*=select-one] .choices__input {
				display: none;
			}
			
		}
	}
	.frm-select-button {
		label {
			height: 4.8rem;
			border-radius: 2.4rem;
			padding: 0 3rem;
			font-size: 2.4rem;
			line-height: 4.6rem;;
			min-width: 22rem;
		}
	}
}