
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-info-panel">
			<div class="footer-info">Ставрополь, <br>ул. Апанасенковская, 12</div>
			<div class="footer-info"><a href="tel:88652991111" class="link-main link-phone">8 (8652) 99-11-11</a></div>
		</div>
		<div class="footer-slider-count"></div>
	</div>
	<div class="btn button-dark btn-phone-page">
		<div class="button-ico">
			<img src="./img/icons/phone.svg" alt="">
		</div>
	</div>
</footer>
<!-- /footer -->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-order">
	<div class="popup-box">
		<div class="popup-header-wrap">
			<div class="popup-logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="popup-close-wrap">
				<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close" data-title="закрыть"></a>
			</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-title-wrap">
				<div class="popup-title">Получить консультацию</div>
				<p>Заполните форму и наш менеджер свяжется с вами в ближайшее время</p>
			</div>
			<form action="/" class="popup-form-wrap">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Телефон">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">получить консультацию</div>
						</button>
					</div>
					<div class="frm-field field-info">
						<p>Отправляя сведения через электронную форму, вы даёте согласие на обработку, сбор, хранение и передачу третьим лицам представленной вами информации на условиях Политики обработки персональных данных</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->