
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle" data-title="меню">
				<svg class="burger-button__svg" width="80" height="16" viewBox="0 0 80 16">
					<rect class="burger-button__line burger-button__line--1" x="0" y="0" width="20" height="2" fill="#"></rect>
					<rect class="burger-button__line burger-button__line--2" x="0" y="7" width="40" height="2" fill="#"></rect>
					<rect class="burger-button__line burger-button__line--3" x="0" y="14" width="80" height="2" fill="#"></rect>
				</svg>


			</a>
			<div class="popup-content-block js-popup-block">
				<div class="popup-inner-wrap">
					<div class="popup-header-wrap">
						<div class="popup-logo-wrap">
							<a href="" class="logo">
								<img src="./img/main/logo.svg" alt="">
							</a>
						</div>
						<div class="popup-close-wrap">
							<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close" data-title="закрыть"></a>
						</div>
					</div>
					<div class="popup-content-wrap">
						<div class="popup-title-wrap">
							<div class="popup-title">Меню сайта</div>
						</div>
						<div class="popup-links-wrap">
							<ul class="menu">
								<li>
									<a href="#section02" class="btn-menu-main js-anchor">
										<div class="button-title">О проекте</div>
									</a>
								</li>
								<li>
									<a href="#section03" class="btn-menu-main js-anchor">
										<div class="button-title">Выбор квартир</div>
									</a>
								</li>
								<li>
									<a href="#section06" class="btn-menu-main js-anchor">
										<div class="button-title">Коммерческая недвижимость</div>
									</a>
								</li>
								<li>
									<a href="#section08" class="btn-menu-main js-anchor">
										<div class="button-title">Совершенство внутри</div>
									</a>
								</li>
								<li>
									<a href="#section20" class="btn-menu-main js-anchor">
										<div class="button-title">Технические характеристики</div>
									</a>
								</li>
								<li>
									<a href="#section16" class="btn-menu-main js-anchor">
										<div class="button-title">Расположение</div>
									</a>
								</li>
								<li>
									<a href="#section21" class="btn-menu-main js-anchor">
										<div class="button-title">Формы расчета</div>
									</a>
								</li>
								<li>
									<a href="#section22" class="btn-menu-main js-anchor">
										<div class="button-title">Ход строительства</div>
									</a>
								</li>
								<li>
									<a href="#section25" class="btn-menu-main js-anchor">
										<div class="button-title">Девелопер</div>
									</a>
								</li>
								<li>
									<a href="#section23" class="btn-menu-main js-anchor">
										<div class="button-title">Документация</div>
									</a>
								</li>
								<li>
									<a href="#section24" class="btn-menu-main js-anchor">
										<div class="button-title">Новости и акции</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="popup-action-wrap">
							<a href="" class="btn js-popup-open" data-popup="popup-order">
								<div class="button-title">Оставить заявку</div>
							</a>
						</div>
					</div>
					<div class="popup-footer-wrap">
						<div class="footer-info-panel">
							<div class="footer-info">Ставрополь, <br>ул. Апанасенковская, 12</div>
							<div class="footer-info"><a href="tel:88652991111" class="link-main link-phone">8 (8652) 99-11-11</a></div>
						</div>
						<div class="footer-info-panel">
							<div class="footer-info">© 2025, ООО&nbsp;«СЗ&nbsp;«М Груп»</div>
							<div class="footer-soc">
								<a href="" class="btn btn-action-ico button-soc">
									<img src="./img/icons/soc-vk.svg" alt="">
								</a>
								<a href="" class="btn btn-action-ico button-soc">
									<img src="./img/icons/soc-tg.svg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="action-inner-wrap">
			<a href="#section04" class="btn button-link js-anchor">
				<div class="button-title">выбрать квартиру</div>
			</a>
		</div>
	</div>
</header>
<!-- /header -->